/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

//shop page
.products-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: $width;
	flex-flow: row-reverse wrap-reverse;
	flex-basis: 800px;
	margin: 0 0 80px;
	article {
		height: 300px;
	}
	#primary-home {
		width: 700px;
	}
	.entry-header-post img {
		margin: 0;
		object-fit: cover;
		height: 253px;
		border-bottom: 5px $color__border solid;
		margin: 0;
	}
}

.taxonomy-products-description p {
	font-family: Merriweather;
	font-size: 0.9rem;
	margin-bottom: 40px;
}

article.product.type-product.status-publish header.entry-header h2.entry-title a {
	font-size: 1rem;
}

 div.single-product-text-media h1.entry-title {
	color: $color__accent;
	line-height: 1.25;
	font-size: 2.4rem;
	margin-bottom: .5rem;
	font-weight: bold;
}

//blog page
.post-template-default .content-area,
.post-template-default .site-content,
body.search div.site-content,
body.archive.tag div.site-content,
body.archive.category div.site-content,
body.date div.site-content {
	display: flex;
	flex-direction: row-reverse;
	// width: $width;
	margin: auto;
}

body.archive.tag div.site-content,
body.archive.category div.site-content,
body.date div.site-content {
	h1.page-title {
		text-align: left;
		border-bottom: 1px $color__border solid;
		margin: 0;
		padding-bottom: 20px;
	}
	article.post {
		margin: 50px 0 80px;
	}
}

#primary-home {
	padding-right: 40px;
	width: 70%;
}

#secondary {
	border-left: 1px solid #e1e1e1;
	position: relative;
	//width: 30%;
	margin-bottom: 50px;
	padding: 50px 0 0 50px;
	top: 50px;
}

article.post {
	position: relative;
	margin: 100px 0 0;
	padding: 0;
	.entry-header img {
		height: 510px;
		width: 100%;
	}
	h2.entry-title,
	h1.entry-title {
		color: white;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px 25px;
		width: 550px;
		font-size: 2.1rem;
		background-color: $color__green-brand;
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		a {
			color: white;
			text-decoration: none;
			&:hover {
				color: $color__yellow-brand;
			}
			&:visited:hover {
				color: $color__yellow-brand;
			}
		}
	}

	
	div.entry-content p {
		font-family: Merriweather;
		font-size: 1rem;
		line-height: 1.75;
		margin: 20px 0;
		padding: 0;
	}
}

.entry-meta {
	position: absolute;
	top: 476px;
	right: 0;
	color: white;
	padding: 5px 15px;
	background-color: $color__green-brand;
	text-align: center;
	text-transform: uppercase;
	width: 400px;
	a {
		color: white;
		text-decoration: none;
		&:hover {
			color: $color__yellow-brand;
		}
		&:visited:hover {
			color: $color__yellow-brand;
		}
	}
}

div.entry-content {
	h2 {
		text-align: center;
		text-transform: uppercase;
	}
	p {
		font-size: 1.1rem;
		line-height: 1.3;
		font-weight: 100;
	}
}

.read-more-link.rml {
	width: 156px;
}

.entry-footer {
	text-transform: uppercase;
	font-size: 0.9rem;
	padding-bottom: 40px;
	span a {
		text-decoration: none;
	}
}

.tags-links {
	padding-left: 20px;
}

.social-buttons {
	display: inline;
	margin: 0;
	div {
		display: inline;
		a {
			text-transform: uppercase;
		}
	}
}

.comments {
	.comments-titles {
		font-family: Merriweather;
		text-transform: uppercase;
		font-size: 2rem;
		font-weight: bold;
	}
}

.post-a-comment {
	padding: 50px 0 20px;
	margin: 20px 0;
	font-size: 1.9rem;
	text-transform: uppercase;
	font-weight: bold;
}

.comment-invite {
	font-family: Merriweather;
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

//single product
.product-content article {
	border: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 25px;
	width: 100%;
	height: 540px;
	margin-top: 50px;
	justify-content: center;
	align-content: center;
	.product-entry-header {
		grid-column: 1;
		display: grid;
		grid-template-columns: 1 1fr;
		justify-content: center;
		align-content: flex-start;
		width: 100%;
		height: 600px;
		img {
			grid-column: 1;
			margin-top: 90px;
			width: 100%;
			object-fit: cover;
			height: auto;
			overflow: hidden;
		}
	}
	.content-container {
		grid-column: 2;
		padding: 20px 17px 25px;
		width: 100%;
		height: 100%;
		h1 {
			color: $color__orange-brand;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 2.4rem;
			margin-top: 65px;
			margin-bottom: 10px;
		}
		.single-product-price {
			font-size: 1.8rem;
			font-family: Novecentosanswide;
			margin: 0px;
			padding: 0px;
		}
		div.product-entry-meta {
			margin-bottom: 30px;
			font-family: Merriweather;
			padding-top: 0px;
			line-height: 1.7;
			p {
				padding-bottom: 10px;
			}
		}
	}
}

// 404
body.error404 div#content main.site-main {
	div.page-content {
		padding-top: 0;
	}
	header.page-header h1.page-title {
		margin-right: 0;
		border-bottom: none;
		margin-bottom: 0;
	}
	p {
		margin: 0;
		font-family: Merriweather;
		font-size: 0.9rem;
	}
	form.search-form fieldset {
		border: none;
		padding-top: 20px;
		input {
			margin: 0;
		}
	}
	h2 {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: .2rem;
	}
	ul {
		margin: 0;
		padding: 0;
		&:last-child {
			padding-bottom: 20px;
		}
		li {
			display: block;
			font-family: Merriweather;
			line-height: 1.75;
			a {
				text-decoration: none;
			}
		}
	}
	select#archives-dropdown--1 {
		margin: 10px 0;
		height: 30px;
		font-family: Merriweather;
	}
}


/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}


div#content {
	display:flex;
	flex-direction: row;
}

div#content.site-content {
	display: flex;
	flex-direction: column;
}

div#content.site-content p.BodyA {
	//width: 250px;
}
/********************************************************************/
/***  *********   *****                *****  ***********************/
/***    ******    *****  *******************  ***********************/
/***  **  **  **  *****  *******************  ***********************/
/***  ****  ****  *****                *****  ***********************/
/***  **********  *****  *******************  ***********************/
/***  **********  *****  *******************  ***********************/
/***  **********  *****  ********************************************/
/***  **********  *****                *****  ***********************/
/********************************************************************/

header.entry-header h1.entry-title {
	font-weight: bold;
	font-size: 2.4rem;
}

div.product-type-blocks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div.product-type-block-wrapper img {

	height: 70px;
	width: 70px;
}

section.product-info.container h2 {
	text-align: center;
	text-transform: uppercase;
}

div#content.site-content {
display: flex;
flex-direction: row;
}

.home div#content.site-content {
	flex-direction: column;
		
	}


div.product-type-block-wrapper {
	padding: 35px;
	flex: 1 1 25%;
	text-align:center;
	border: 1px solid $color__background-pre;
}
div.product-type-block-wrapper:hover{
	border-color: $color__orange-brand
}


nav#site-navigation.main-navigation {
	display: flex;
	justify-content: flex-end;
}

main#main.site-main.shop-main header.page-header h1.page-title {
	margin-left: 21vw;
}

div.displaystuff {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	max-width: 1120px;
	margin-left: 21vw;
}

header-entry-header img {
	min-width: 1120px;
}

div#something.products-or-something h1{
	font-size: 2.4rem;
	margin-top: 2rem;
}


footer#colophone.site-footer{
	font-family: Merriweather;
}


div#foot-contain.footer-blocks.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div#foot-contain.footer-blocks.container h3 {
 color: #d99054;
}

footer.site-footer {
	background-image: url("../../assets/images/dark-wood.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  margin-top: 30px;
	color: $color__background-body;

}

div.footer-block-item {
	margin: 3rem 0;
	padding-right: 1.5rem;
	
}

div.contact p a {
	color: $color__background-body;
}

div.text-logo {
	width: 280px;
	height: 50px;
}

div.copyright-container {
  margin: 0 auto;
	width: 1120px;
	text-align: center;
	text-transform: uppercase;
} 

.mainnav-wrapper {
	display: flex;
	align-items: center;
}

header.entry-header img.attachment-large-size-large.wp-post-image {
	width: 1120px;
 	height: 100vh;
}

section.product-info.container h2 {
	font-size: 2.4rem;
}

section.product-info.container{
	margin-top: 20px;
}

div#surrounded.surround {
	display: flex;
	flex-direction: column;
		h2 {
			text-align: left;
		}
}

div.sidebar-move {
	width: 30%;
}

section.want-to-contain-this {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	justify-content: center;
	align-content: center;
	max-width: 1120px;
	margin-left: 20vw;
}

section.try-this-and-pray {
	display: flex;
	flex-direction: row-reverse;
}




/*Front Page Hero Image*/
/*Front Page Hero Image*/
/*Front Page Hero Image*/


div.front-page-hero {
	background-image: url('../../assets/images/inhabitent-logo-full.svg'), url('../../assets/images/home-hero.jpg');
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 25%, 100%;
	height: 100vh;
	width: 100%;
	text-align: center;
	color: $color__background-body;
	min-width: 1120px;
	display: block;
	margin-bottom: 25px;
}

a.btn {
	background: #248a83;
	border: none;
	border-radius: 0;
	color: $color__background-body;
	cursor: pointer;
	font-family: Novecento Sans Web,sans-serif;
	font-size: 14.4px;
	font-size: .9rem;
	line-height: 1;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
}

/*Front Page Inhabitent Journal*/
/*Front Page Inhabitent Journal*/
/*Front Page Inhabitent Journal*/

div#something.products-or-something {
 max-width: 1120px;
 text-align: center;
 width: 1120px;

}

section.front_page_journal {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 100%;
	margin: 0;
}

div.single-journal-display {
	display: flex;
	flex-flow:	column nowrap;
	max-width: 33%;
	border-style: solid;
	border-width: 1px;
	border-color: $color__border;
	margin-left: 20px;
	min-height: 465px;
	height: 32vw;
}

a.back-btn {
	margin-top: 10px;
	border-radius: 0;
	cursor: pointer;
	font-family: Novecento Sans Web,sans-serif;
	font-size: 14.4px;
	font-size: .9rem;
	line-height: 1;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #000;
	color: #000;
	background-color: transparent;
}

a.back-btn:hover {
	background-color: $color__green-brand;
	color: $color__background-body;
}


/*LATEST ADVENTURES*/
/*LATEST ADVENTURES*/
/*LATEST ADVENTURES*/




div.canoe-gal {
	width: 560px;
	color: $color__background-body;
	position: relative;
}
	
	div.canoe-gal h3.entry-title {
	display: block;
	position: absolute;
	top: 0px;
	left: 20px;
	width: 550px;
	background-color: transparent;
	line-height: 1;
	font-weight: 700;
	font-size: 3rem;
}

div.canoe-gal h3 a.white-btn {
	display: block;
	position: absolute;
	top: 200px;
	left: 20px;
	border: 1px solid $color__background-body;
	color: $color__background-body;
	background-color: transparent;
	font-family: Novecento Sans Web,sans-serif;
	font-size: 14.4px;
	font-size: .9rem;
	line-height: 1;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
}

div.canoe-gal h3 a.white-btn:hover {
background-color: $color__green-brand;
}

div.bonfire {
	width: 560px;
	position: relative;
}

div.bonfire h3.entry-title {
	display: block;
	position: absolute;
	color: $color__background-body;
	top: -10px;
	left: 20px;
	width: 550px;
	background-color: transparent;
	line-height: 1;
	font-size: 2.4rem;
}

div.bonfire a.white-btn {
	display: block;
	position: absolute;
	top: 200px;
	left: 20px;
	border: 1px solid $color__background-body;
	color: $color__background-body;
	background-color: transparent;
	font-family: Novecento Sans Web,sans-serif;
	font-size: 14.4px;
	font-size: .9rem;
	line-height: 1;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
}

div.bonfire h3 a.white-btn:hover {
background-color: $color__green-brand;
}

div.mountain-night {
	width: 560px;
}

div.mountain-pic-one {
  position: relative;
}

div.mountain-pic-one h3.entry-title {
	display: block;
	position: absolute;
	color: $color__background-body;
	top: -10px;
	left: 20px;
	width: 550px;
	background-color: transparent;
	line-height: 1;

	font-size: 1.6rem;
	max-width: 220px;
}

div.mountain-pic-one a.white-btn {
	display: block;
	position: absolute;
	top: 200px;
	left: 20px;
	border: 1px solid $color__background-body;
	color: $color__background-body;
	background-color: transparent;
	font-family: Novecento Sans Web,sans-serif;
	font-size: 14.4px;
	font-size: .9rem;
	line-height: 1;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
}
	
div.mountain-pic-one h3 a.white-btn:hover {
	background-color: $color__green-brand;
}

div.mountain-pic-two {
  position: relative;
}

div.mountain-pic-two h3.entry-title {
	display: block;
	position: absolute;
	color: $color__background-body;
	top: -10px;
	left: 30px;
	width: 550px;
	background-color: transparent;
	line-height: 1;
	font-size: 1.6rem;
	max-width: 220px;
}

div.mountain-pic-two a.white-btn {
	display: block;
	position: absolute;
	top: 200px;
	left: 30px;
	border: 1px solid $color__background-body;
	color: $color__background-body;
	background-color: transparent;
	font-family: Novecento Sans Web,sans-serif;
	font-size: 14.4px;
	font-size: .9rem;
	line-height: 1;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
}
	
	div.mountain-pic-two h3 a.white-btn:hover {
	background-color: $color__green-brand;
	}


div.three-pic-flex {
	width: 560px;
}

img.girl-in-canoe {
	height: 560px;
	width: 540px;
}

.beach-fire {
	width: 540px;
	height: 270px;
	padding-bottom: 10px;
}

.mountain-pic {
  height: 260px;
	width: 270px;
	padding-right: 10px;
}

.night-sky {
	height: 260px;
	width: 270px;
	padding-left: 10px;
}

div.latest-adventures h1 {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	font-size: 2.4rem;
	font-weight: 400;
	margin-bottom: 3.75rem;
	text-align: center;

}

div.center-latest-adventures {
	display: flex;
	justify-content: center;
	width: 1120px
}

section.latest-adventures-container {
	display: flex;
	flex-direction: row;
	flex: 1 1 0;
	margin: 0px;
	max-width: 1120px;

}


div.three-pic-flex {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	width: 560px;
	margin: 0px;
}

div.mountain-night {
	display: flex;
	flex-direction: row;
	flex: 1 1 0;
	width: 560px;
}




/*Search BAR*/
/*Search BAR*/
/*Search BAR*/


form.search-form {
	padding-top: 6px;
} 

.search-form-wrapper {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	padding: 20px 15px;
	margin-top: 50px;
	
}

.search-form-wrapper.open {
	display: block;
}

div.journal-information {
	display: flex;
	flex-direction: column;
}

div.journal-display-text {
	margin-bottom: 15px;
	margin-top:	15px;
	font-size: .75rem;
}

div.journal-display-title {
 font-size: 1.6rem;
 color: $color__green-brand;
}

section.front_page_journal {
max-width: 1120px;
margin-bottom: 20px;
}

body {
	display: block;
	
}

div.footer-over-here {
	display: flex;
	flex-direction: column;
}



img.logo {
	height: 33px;
	width: 50px;
}

header#masthead.site-header {

background-color: hsla(0,0%,100%,.85);
border-bottom: 1px solid $color__border;
padding: .5rem 0;
position: fixed;
transition: top .5s linear;
width: 100%;
z-index: 3;
}

li#menu-item menu-item-type-post_type_archive menu-item-object-product menu-item-103 {
	color: $color__green-brand;
}

ul#primary-menu.menu {
	color: $color__green-brand;
}

h2.entry-title {
	align-items: center;
}


/******* template - single-product *******/
/******* template - single-product *******/
/******* template - single-product *******/

div.single-product-flex-container {
	border: none;
	display: flex;
	flex-direction: row;
}

div.single-product-text-media {
	display: flex;
	flex-direction: column;
	margin: 15px;

}
div.single-product-image{
	display: flex;
	padding-top: 50px;
	flex: 1 0 auto;
}


article#single.product.type-product {
	border: none;
}

article.product.type-product header.entry-header h2.entry-title {
	text-align: center;
}

article.product.type-product{
	text-align: center;
}

div.shop-stuff-nav-items {
	display: flex;
	justify-content: center;
	margin-left: 21vw;
}

div.shop-stuff-nav-items-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center;
	font-size: 1.2rem;
	color: $color__green-brand;
	padding: 0;
	margin: 0 auto;
}

div.this-is-the-button {
	margin: 0 20px 0 20px;

}


div.taxonomy-description {
	font-size: 1rem;
	font-weight: normal;
}

.taxonomy-page-damn-image{
 overflow: hidden;
 height: 166px;

 img {
	 transform: scale(1.4);
 }

}
div.product-grid {
	display: flex;
	width: 100%;
}

div.product-box {
  flex: 1 1 25%;
}

div.journal-display-image {
  overflow: hidden;
  height: 234px;
}

div.social-media-buttons {
	margin-top: 20px;
}


/************* single.php *********************/

body.single-post div#content.site-content {
	display: block;
}

body.single-post div#content.site-content .surround-it-all {
	max-width: 1120px;
	margin: auto;
}


main#main#i-want-this-page.site-main.wow.ouch {
	width: 867px !important;
}


div.start-flexing-single {
  display: flex;
  flex-direction: row;
} 


div#blah.test-blah {
 	max-width: 867px;
	margin-right: 15px;
	width: 867px;
}


/* Journal Page - read more button */

div#primary.content-area.journal-page {
	margin-right: 2rem;
}

div.read_more a {
 	border: 1px solid #000;
 	color: #000;
 	background-color: transparent;
 	font-family: Novecento Sans Web,sans-serif;
 	font-size: 14.4px;
 	font-size: .9rem;
 	line-height: 1;
 	padding: .75rem 1.5rem;
 	text-decoration: none;
 	text-transform: uppercase;
}

div.read_more a:hover {
  background-color: $color__green-brand;
  border: 1px solid $color__green-brand;
  color: $color__background-body;
}